body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 20px;
  font-family: 'Georgia', serif;
  background: url(images/mountain-5431950_1920.png);
}

body form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(255, 255, 255, 0.5);
  margin-top: 100px;
  padding: 15px;
  border: 1px solid #4b5d67;
  border-radius: 10px;
  width: 700px;
}

body form .textStudent {
  text-align: center;
}

body form .textGroups {
  text-align: center;
}

body form ul {
  padding-left: 0px;
  list-style: none;
  text-align: center;
}

body form ul li {
  font-weight: lighter;
  padding: 5px;
  width: 20vw;
}

body form input {
  border-radius: 13px;
  width: 10vw;
  height: 3vh;
}

body form ::-webkit-input-placeholder {
  text-align: center;
}

body form :-ms-input-placeholder {
  text-align: center;
}

body form ::-ms-input-placeholder {
  text-align: center;
}

body form ::placeholder {
  text-align: center;
}

body form p {
  padding-left: 0px;
  list-style: none;
  text-align: center;
  font-weight: lighter;
  padding: 5px;
  width: 20vw;
}

body h2, body h3 {
  text-align: center;
}

body main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(255, 255, 255, 0.5);
  margin-top: 100px;
  padding: 15px;
  border: 1px solid #4b5d67;
  border-radius: 10px;
  width: 700px;
}

body main .nextTech, body main .pastTech {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style: none;
  text-align: center;
  width: 325px;
}

body .copyright {
  margin-top: 30px;
  border: black 1px solid;
  border-radius: 10px;
  padding: 15px;
}

body .groupe {
  padding-left: 0px;
  list-style: none;
  text-align: center;
  font-weight: lighter;
  border: 5px solid black;
  border-radius: 10px;
  padding: 5px;
  width: 20vw;
}
/*# sourceMappingURL=body.css.map */