body {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 20px;
	font-family: 'Georgia', serif;
    background: url(images/mountain-5431950_1920.png);
    
        form {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-color: rgba($color: #ffffff, $alpha: 0.5);
            margin-top: 100px;
            padding: 15px;
            border: 1px solid #4b5d67;
            border-radius: 10px;
            width: 700px;


                .textStudent {
                    text-align: center;
                };

                .textGroups {
                    text-align: center;
                };

                ul {
                    padding-left: 0px;
                    list-style: none;
                    text-align: center;

                        li {
                            font-weight: lighter;
                            padding: 5px;
                            width: 20vw;
                        };
                };

                input {
                    border-radius: 13px;
                    width: 10vw;
                    height: 3vh;
                }
                
                ::placeholder {
                    text-align: center;
                }
                p {
                    padding-left: 0px;
                    list-style: none;
                    text-align: center;
                    font-weight: lighter;
                    padding: 5px;
                    width: 20vw;
                }                
            };


            h2, h3 {
                text-align: center;
            }

            main {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                background-color: rgba($color: #ffffff, $alpha: 0.3);
                margin-top: 100px;
                padding: 15px;
                border: 1px solid #4b5d67;
                border-radius: 10px;
                width: 700px;

                .nextTech, .pastTech {
                    justify-content: center;
                    list-style: none;
                    text-align: center;
                    width: 325px;
                }
            }

           .copyright {
                margin-top: 30px;
                border: black 1px solid;
                border-radius: 10px;
                padding: 15px;
           }

           .groupe {
            padding-left: 0px;
            list-style: none;
            text-align: center;
            font-weight: lighter;
            border: 5px solid black;
            border-radius: 10px;
            padding: 5px;
            width: 20vw;
           }
                
};










