<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Historique ( Tech-Watch Assignator )</title>
    <link rel="stylesheet" href="header.css">
    <link rel="stylesheet" href="body.css">
</head>

<body>
    <h1 class="titre">My Tech-Watch Assignator</h1>
    <header class="head">
        <nav class="nav">
            <div class="navDiv"><a href="http://localhost:3000/">Home</a></div>
            <div class="navDiv"><a href="http://localhost:3000/students">Student list</a></div>
            <div class="navDiv"><a href="http://localhost:3000/groups">Tech Watch Assignation</a></div>
        </nav>
    </header>
    <main>
        <div class="nextTech">
            <h2>Next Tech-Watch</h2>
                <section class="groupe">
            <% const nDate = new Date();%>
            <%groups.forEach(element => {%>
            <%if (nDate < element.nGroupe.deadline) {%>
            <h3><%- element.nGroupe.subject %></h3>
            <p>Students affiliate :
                <% for (let index = 0; index < element.nGroupe.student.length - 1; index++) {%>
                    <%- element.nGroupe.student[index].name %> - - -
                <%}%>
                    <%- element.nGroupe.student[element.nGroupe.student.length - 1].name %>
            </p>
                    <% year = element.nGroupe.deadline.getFullYear();%>
             	    <% month = element.nGroupe.deadline.getMonth() + 1;%>
             	    <% dt = element.nGroupe.deadline.getDate();%>
             	    <% if (dt < 10) {%>
             	        <% 	dt = '0' + dt;%>
             	    <% }%>
             	    <% if (month < 10) {%>
             	        <% 	month = '0' + month;%>
             	    <% }%>
             	    <% element.nGroupe.deadline = (year + '-' + month + '-' + dt);%>
            <p>When : <%- element.nGroupe.deadline%></p>
            <%}%>
                    <%});%>
                </section>
        </div>
        <div class="pastTech">  
            <h2>Past Tech</h2>
            <section class="groupe">
            <%groups.forEach(element => {%>
            <% if (nDate > element.nGroupe.deadline){ %>
            <h3><%- element.nGroupe.subject %></h3>
            <p>Students affiliate :
                <% for (let index = 0; index < element.nGroupe.student.length - 1; index++) {%>
                    <%- element.nGroupe.student[index].name %> - - -
                <%}%>
                    <%- element.nGroupe.student[element.nGroupe.student.length - 1].name %>
            </p>
                    <% year = element.nGroupe.deadline.getFullYear();%>
             	    <% month = element.nGroupe.deadline.getMonth() + 1;%>
             	    <% dt = element.nGroupe.deadline.getDate();%>
             	    <% if (dt < 10) {%>
             	        <% 	dt = '0' + dt;%>
             	    <% }%>
             	    <% if (month < 10) {%>
             	        <% 	month = '0' + month;%>
             	    <% }%>
             	    <% element.nGroupe.deadline = (year + '-' + month + '-' + dt);%>
            <p>When : <%- element.nGroupe.deadline%></p>
            <%}%>
            <%})%>
        </section>
    </div>

            </main>
    <footer>
        <div class="copyright">
            <p><strong>Copyright:</strong> Arnaud | Camille</p>
            <div class="container">
                <strong><p class="contact">Contact:</p></strong>
                <p class="contact1">arnaudg9806@gmail.com</p>
                <p class="contact2">vcamille@free.fr</p>
            </div>
        </div>
    </footer>
</body>

</html>